.spa-slider {
    position : absolute;
    bottom   : 0;
    right    : 0px;
    width    : 300px;
    /*value below must be equal to spa.retracted_height*/
    height   : 50px;    
    cursor   : pointer;
    border-radius    : 8px 0 0 0;
    background-color : #f00;
  }